{% extends '@SyliusUi/Form/imagesTheme.html.twig' %}

{% block asdoria_product_document_widget %}
    {% apply spaceless %}
        {{ form_row(form.documentType) }}
        {% if form.vars.value.path|default(null) is not null %}
            <a href="{{ path('asdoria_admin_product_document_download_file', {'id' : form.vars.value.id}) }}" target="_blank">
                <canvas id="document" class="ui small bordered image" style="display: block;" data-path="{{ path('asdoria_admin_product_document_download_file', {'id' : form.vars.value.id}) }}" ></canvas>
            </a>
{#            file alternate outline#}
        {% endif %}
        <label for="{{ form.file.vars.id }}" class="ui icon labeled button">
            <i class="cloud upload icon"></i> {{ 'sylius.ui.choose_file'|trans }}
        </label>

        <div class="ui hidden element">
            {{ form_widget(form.file) }}
        </div>
        <div class="ui element">
            {{- form_errors(form.file) -}}
        </div>
    {% endapply %}
{% endblock %}
